ul,li{ list-style:none; margin:0; padding:0}
.padding-left-none{ padding-left:0}
.padding-right-none{ padding-right:0}
/**{transition: width 2s};*/
body{font-size: 14px; font-family: "Microsoft Yahei"; min-width:260px}
::-webkit-scrollbar {  
  width: 14px;  
  height: 14px;  
}  
  
::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {  
  border-radius: 999px;  
  border: 14px solid transparent;  
}  
  
::-webkit-scrollbar-track {  
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-thumb {  
  min-height: 20px;  
  background-clip: content-box;  
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  
}  
  
::-webkit-scrollbar-corner {  
  background: transparent;  
}  
.borderRadius{border-radius:10px;}
.row { margin-left: -15px;margin-right: -15px;}
.row:after, .row:before {content: " ";display: table;}
.row:after {clear: both;}
.col-xsm-6,.col-xsm-4,.col-xsm-12,.col-xsm-8{float: left;}
.no-padding{ padding: 0}
@media (min-width: 480px) {
.col-xsm-6{width: 50%;}
.col-xsm-4 {width: 33.3333%;}
.col-xsm-12{width: 100%;}
}
.text-center{ text-align: center;}
.text-right{ text-align:right;}
.text-left{ text-align:left;}
.grey999{ color: #999;}
.grey666{ color: #666;}
.headline{float: right; }
.ListenAndWrite{clear: both; height: 80px}
.Typesetting_1{  text-align: right;margin-top: 12px; margin-top: 52px}
.PlayCount{ text-align: right; font-size: 15px; overflow: hidden; height:30px}
.green_20{ font-size: 20px; color: #009900}
.Typesetbtn_2{padding: 6px 12px; font-size: 20px;}
.listenEnglish,.writeEnglish{width:100%;padding:15px;border-radius:10px;font-size: 18px; font-family: "Arial"; overflow-x:hidden;overflow-y: auto;}
.listenEnglish{ border: 1px solid #92B4CF;  background: #CDE8F5; color: #333333;height:100px; }
.writeEnglish{ border: 1px solid #AEB0B3;  background: #F5F8FA; color: #339900; margin-top: 10px;height:300px;}
.accuracy{border: 1px solid #ccc; background: #FDF7DB; height: 410px; overflow-x:hidden; overflow-y: auto;}
@media (min-width: 768px){
.headline{margin-top: 40px}
.PlayCount{height: 80px;}
}
@media (max-width:430px){
  .Typesetting_1{ margin-top:12px}
}
.panel-body{padding: 6px;}
.panel-body .table tbody tr:hover{ background: #FEFDF5}
.panel-body .table tbody tr td{ border-bottom: 1px  dashed #92B4CF; border-top: none;}
.panel-body .table tbody tr:last-child td{ border-bottom:none}
.Typesetbtn1{padding:3px 12px; font-size: 18px;}

.dictation_score{ border: 1px solid #98BEDB; padding: 10px; overflow:hidden; margin-top:4px; height:542px;  overflow-x:hidden; overflow-y:auto}
.bigOrange{ font-size: 35px; color: #FF3300;}
.Class_highest_scor{ border-bottom: 1px dashed #98BEDB; font-size: 16px; color: #666;padding-bottom: 14px}
.color333_30{ color: #333; font-size: 30px; margin-right: 10px;}
.Identification{ float:right; white-space:nowrap}
.correctlogo,.Wronglogo,.misslogo,.muchlogo{ width:10px; height:10px; display:inline-block; margin-right:3px}
.correctlogo{background:#009900; }
.Wronglogo{background:#FF3300; margin-left:10px}
.misslogo{background:#FF6600; margin-left:10px}
.muchlogo{ height:3px;background:#FF3300;}
.WrongColor{ color:#FF3300}
.missColor{ color:#FF6600}
.muchColor{ color:#FF3300;text-decoration:line-through}
.glyphicon-minus-add { color:#FF3300;font-size:18px; text-align:center; font-weight:bolder; margin-left:2px;font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 200;}
.textHeader{ color:#333; font-size:16px; font-family:"Microsoft Yahei"; font-weight:normal}
.DictationDetails{border-bottom: 1px dashed #98BEDB; overflow:hidden; padding-top:15px; padding-bottom:15px}
.DictationSentence{ list-style:none; clear:both; padding:10px 0 }
.DictationSentence li{ font-size:18px; color:#009900; font-family:"Arial"}
.HistoryGrading{ padding-top:8px;}
.HistoryGrading .table td{ border:0}
.HistoryGrading .HGradtimer{ color:#747474; font-size:12px;}
.HistoryGrading .HGradDetail{ text-align:right; color:#747474}
.classmate_score{ border:1px solid #98bedb;position:relative}
.TryAgain{ text-align:right; margin-bottom:10px; margin-top:4px}
.classmate_score_table{ padding:10px;margin-bottom:30px; height:432px; overflow-x:hidden; overflow-y:auto; }
.classmate_score_table_header{border-top-left-radius:10px;
border-top-right-radius:10px; background:#E1F4FB; height:36px; line-height:36px; padding-left:10px; border-bottom:1px solid #98BEDB}
.classmateName{ color:#666;}
.classmate_score_table .fen{ color:#999; font-size:12px;}
@media (max-width: 768px){
.classmate_score_table{ height:auto; max-height:432px}
}
.Sort{ cursor:pointer; color:#36F; font-size:12px; float:right; display:inline; margin-right:10px}
.search1{ position:absolute; bottom:10px; width:90%;left:50%; margin-left:-45%}
