<div class="container">
    <div class="content">
    <div class="row">
        <div class="col-lg-3 left"><!-- left side begin-->
        <p>1<p>
        <p>2<p>
        <p>3<p>
        <p>4<p>
        <p>5<p>
        <p>6<p>
        <p>1<p>
        <p>2<p>
        <p>3<p>
        <p>4<p>
        <p>5<p>
        <p>6<p>
        <p>1<p>
        <p>2<p>
        <p>3<p>
        <p>4<p>
        <p>5<p>
        <p>6<p>
      </div> <!-- left side end-->

        <div class="col-lg-8"> <!-- content side begin-->
          <h1>Dashboard</h1>
          <div class="hero-unit">
            <h1>Welcome!</h1>
            <p>欢迎来到情景英语:)</p>
            <p>
              <a href="#" class="btn btn-primary btn-large">Start Tour</a> 
              <a class="btn btn-large">No Thanks</a>
            </p>
          </div>
        </div>  <!-- content side begin-->
      </div>
     </div>
</div>