<div class="loading"></div>
<div class="header-bg-left" ></div>
<div class="header-bg-right" ></div>

<div class="navbar-up">
  <div class="navbar navbar-static-top">
    <div class="container">
        <div class="row">
          <div class="navbar-right navlist-topright">
            <a class="username">张三峰</a>
            <a class="logout">【退出】</a>
            <a class="settings"></a>
            <a class="msg"></a>     
          </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-static-top">
    <div class="container">
      <div class="row">
        <div class="nav navbar-header  uni-logo col-md-6">
          <a href="index.html"><img src="images/header/logo.png" class="img-responsive" alt="情景英语" /></a>
          <a href="index.html" class="home nav-brand" data-toggle="fullscreen"><div class="logo-title"></div></a>  
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav menu">
          <li><a class="nav-brand btn btn-primary btn-large" href="#">首页</a></li>
          <li><a class="nav-brand btn btn-primary btn-large" href="#">我的课案</a></li>
          <li><a class="nav-brand btn btn-primary btn-large" href="#">视听室</a></li>
          <li><a class="nav-brand btn btn-primary btn-large" href="#">应用</a></li>
        </ul>
      </div>
    </div> 
  </div>       
</div>



</div>
</div>
<div class="header-footer">
  <div class ="top"></div>
  <div class ="center"></div>
  <div class ="bottom"></div>
</div>
