

<div class="card-holder">
  <div class="card-wrapper">
    <h4 class="card">
      <span ng-click="navleft.vm.collapsed = !navleft.vm.collapsed">A</span>
      <span class="title collapse" ng-class="{collapse: !navleft.vm.collapsed}">Look and Listen</span>
    </h4>
  </div>
  <div class="panel-collapse collapse" ng-class="{in: !navleft.vm.collapsed}">
    <div class="panel-body">
      <h4 class="card">#</h4>
      <h4 class="card">#</h4>
      <h4 class="card">#</h4>
    </div>
  </div>
  <div class="card-wrapper">
    <h4 class=" card">
      <span>B</span>
    </h4>
  </div>
  <div class="card-wrapper">
    <h4 class=" card">
      <span>C</span>
    </h4>
  </div>
  <div class="card-wrapper">
    <h4 class=" card">
      <span>D</span>
    </h4>
  </div>
  <div class="card-wrapper">
    <h4 class=" card">
      <span>E</span>
    </h4>
  </div>
</div>
