<div >
          <div id="top">
            <button id="submit" type="button" class="btn btn-success btn-sm album_play " ng-click="showModal()">提交作答</button>
            <div id="audiobar"></div>
          </div>
          <div id="exercise">
            <li ng-repeat="exercise in exerciseList" class="list-group-item">
            <div class="question"><h3>{{exercise.question}}</h3></div>
              <div class="choice" ng-repeat="choice in exercise.choicelist">
                <div>
                  <label><input type="radio" name="{{exercise.id}}" ng-model="exercise.seletion" ng-value="$index" />{{map[$index]}}</label><div>{{choice}} </div>
                </div>
              </div>
              <div>you choose {{exercise.seletion}}</div>
            </li>
          </div>
        </div>